<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <title>KPIT SPARKLE - Finale Registration</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="description"
      content="Evential - One Page Event HTML Template"
    />
    <meta name="author" content="themecube" />

    <!-- viewport settings -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/jquery.countdown.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/flipCard.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/color/green.css" />
    <!-- Choose your color, green, blue, yellow, red, darkblue, purple -->

    <!-- Font -->
    <link
      href="http://fonts.googleapis.com/css?family=Economica:400,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>

  <body>
    <!-- PRELOADING  -->
    <div id="preload">
      <div class="preload">
        <div class="loader">Loading...</div>
      </div>
    </div>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-fixed-top navbar-custom" role="navigation">
      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
      <div class="container">
        <div data-scroll-header class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#nav"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"
            ><img src="/img/logo.png" alt="logo"
          /></a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
          <ul class="nav navbar-nav navbar-right uppercase">
            <li><a class="n-link" data-scroll href="#overview">ABOUT US</a></li>
            <li><a class="n-link" data-scroll href="#speakers">Speakers</a></li>
            <li><a class="n-link" data-scroll href="#schedule">Schedule</a></li>
            <li><a class="n-link" data-scroll href="#register" style="border: solid;">Register</a></li>
            <!-- <li><a data-scroll href="#venue">Venue</a></li>
            <li><a data-scroll href="#sponsors">Sponsors</a></li> -->
<!--            
            <li><a data-scroll href="#faq-gallery">FAQ</a></li> -->
            <!-- <li><a class="n-link" data-scroll href="#contact">Contact</a></li>   -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>

    <!-- TOP -->
    <section id="top" data-stellar-background-ratio="0.5">
      <div class="countdown">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h1 class="uppercase">KPIT SPARKLE - 2022</h1>
              <h3>March 22<sup style="color: white;">nd</sup> - March 26<sup style="color: white;">th</sup></h3>
            </div>

            <div class="col-md-4 col-lg-4 col-md-offset-4 text-center">
              <div id="countdown">
                <p id=""countdown></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- OVERVIEW -->
    <section id="overview">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <i class="fa fa-4x fa-globe"></i>
            <h2 class="uppercase">about kpit sparkle</h2>
            <p class="lead">
              <br />
              One of the biggest innovation platforms in the country, KPIT Sparkle is a place for budding technology entrepreneurs to build on their genius ideas and give them a chance to become reality. The multidisciplinary outlook at KPIT Sparkle has connected several innovators to the incubation ecosystem, allowing their nascent ideas to now thrive, and fuel the future of  ‘Mobility and Energy.’ As we continue to motivate curious minds and mentor them to lead the future, here’s a glance at the whopping number of ideas we received this year 
            </p>
          </div>

          <!-- MILESTONE -->
          <div id="milestone">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <div class="row">
                <div class="fact col-xs-6 col-md-3 col-lg-3">
                  <p class="timer" data-from="3000" data-to="24" data-speed="10000"></p>
                  <i class="fa fa-2x fa-users"></i>
                  <p>Finalists</p>
                </div>

                <div class="fact col-xs-6 col-md-3 col-lg-3">
                  <p class="timer" data-to="16" data-speed="10000"></p>
                  <i class="fa fa-2x fa-clock-o"></i>
                  <p>Hours</p>
                </div>

                <div class="fact col-xs-6 col-md-3 col-lg-3">
                  <p class="timer" data-to="28" data-speed="10000"></p>
                  <i class="fa fa-2x fa-power-off"></i>
                  <p>Sessions</p>
                </div>

                <div class="fact col-xs-6 col-md-3 col-lg-3">
                  <p class="timer" data-to="49" data-speed="10000"></p>
                  <i class="fa fa-2x fa-microphone"></i>
                  <p>Speakers</p>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h3>
              Hurry Up! Only Limited 
              <!-- <span
                class="timer"
                data-from="575"
                data-to="198"
                data-speed="10000"
              ></span> -->
              seats
            </h3>
            <a
              class="button button-big button-dark"
              data-scroll
              href="#register"
              >register</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- SPEAKERS -->
    <section id="speakers">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <h2 class="uppercase text-center">speakers</h2>
            <h3 class="uppercase text-center">Know how to take the right steps from the industry’s Best!</h3>
            <br>
            <div class="row">
              <!-- speaker 1 -->
              <div class="speaker col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <figure>
                  <img class="img-responsive" src="img/speaker1.png" alt="" />
                  <figcaption>
                    <h4>Bryan Spencer</h4>
                    <p>
                      Aliquam ut laoreet velit. Proin orci est, vulputate
                      aliquam eu, tincidunt laoreet lorem.
                    </p>
                    <a class="speaker-detail" href="/speaker-details"
                      ><i class="fa fa-2x fa-external-link"></i
                    ></a>
                    <div class="social">
                      <a href="#"
                        ><i class="fa fa-2x fa-facebook-square"></i
                      ></a>
                      <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                  </figcaption>
                </figure>

                <h4>Bryan Spencer</h4>
                <span class="title">Interdum Co.</span>
              </div>

              <!-- speaker 2 -->
              <div class="speaker col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <figure>
                  <img class="img-responsive" src="img/speaker2.png" alt="" />
                  <figcaption>
                    <h4>Susan Robertson</h4>
                    <p>
                      Aliquam ut laoreet velit. Proin orci est, vulputate
                      aliquam eu, tincidunt laoreet lorem.
                    </p>
                    <a class="speaker-detail" href="/speaker-details"
                      ><i class="fa fa-2x fa-external-link"></i
                    ></a>
                    <div class="social">
                      <a href="#"
                        ><i class="fa fa-2x fa-facebook-square"></i
                      ></a>
                      <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                  </figcaption>
                </figure>

                <h4>Susan Robertson</h4>
                <span class="title">Sollicitudin.com</span>
              </div>

              <!-- speaker 3 -->
              <div class="speaker col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <figure>
                  <img class="img-responsive" src="img/speaker3.png" alt="" />
                  <figcaption>
                    <h4>Joann Foster</h4>
                    <p>
                      Aliquam ut laoreet velit. Proin orci est, vulputate
                      aliquam eu, tincidunt laoreet lorem.
                    </p>
                    <a class="speaker-detail" href="/speaker-details"
                      ><i class="fa fa-2x fa-external-link"></i
                    ></a>
                    <div class="social">
                      <a href="#"
                        ><i class="fa fa-2x fa-facebook-square"></i
                      ></a>
                      <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                  </figcaption>
                </figure>

                <h4>Joann Foster</h4>
                <span class="title">Founder, PULV</span>
              </div>

              <!-- speaker 4 -->
              <div class="speaker col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <figure>
                  <img class="img-responsive" src="img/speaker4.png" alt="" />
                  <figcaption>
                    <h4>Leo Davis</h4>
                    <p>
                      Aliquam ut laoreet velit. Proin orci est, vulputate
                      aliquam eu, tincidunt laoreet lorem.
                    </p>
                    <a class="speaker-detail" href="/speaker-details"
                      ><i class="fa fa-2x fa-external-link"></i
                    ></a>
                    <div class="social">
                      <a href="#"
                        ><i class="fa fa-2x fa-facebook-square"></i
                      ></a>
                      <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                  </figcaption>
                </figure>

                <h4>Leo Davis</h4>
                <span class="title">fermentum.net</span>
              </div>

              <!-- speaker 5 -->
              <div class="speaker col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <figure>
                  <img class="img-responsive" src="img/speaker5.png" alt="" />
                  <figcaption>
                    <h4>Jayden Hawkins</h4>
                    <p>
                      Aliquam ut laoreet velit. Proin orci est, vulputate
                      aliquam eu, tincidunt laoreet lorem.
                    </p>
                    <a class="speaker-detail" href="/speaker-details"
                      ><i class="fa fa-2x fa-external-link"></i
                    ></a>
                    <div class="social">
                      <a href="#"
                        ><i class="fa fa-2x fa-facebook-square"></i
                      ></a>
                      <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                  </figcaption>
                </figure>

                <h4>Jayden Hawkins</h4>
                <span class="title">Faucibus Co.</span>
              </div>

              <!-- speaker 6 -->
              <div class="speaker col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <figure>
                  <img class="img-responsive" src="img/speaker6.png" alt="" />
                  <figcaption>
                    <h4>Danielle Grant</h4>
                    <p>
                      Aliquam ut laoreet velit. Proin orci est, vulputate
                      aliquam eu, tincidunt laoreet lorem.
                    </p>
                    <a class="speaker-detail" href="/speaker-details"
                      ><i class="fa fa-2x fa-external-link"></i
                    ></a>
                    <div class="social">
                      <a href="#"
                        ><i class="fa fa-2x fa-facebook-square"></i
                      ></a>
                      <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                  </figcaption>
                </figure>

                <h4>Danielle Grant</h4>
                <span class="title">Etiam</span>
              </div>

              <!-- speaker 7 -->
              <div class="speaker col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <figure>
                  <img class="img-responsive" src="img/speaker7.png" alt="" />
                  <figcaption>
                    <h4>Ruben Bennett</h4>
                    <p>
                      Aliquam ut laoreet velit. Proin orci est, vulputate
                      aliquam eu, tincidunt laoreet lorem.
                    </p>
                    <a class="speaker-detail" href="/speaker-details"
                      ><i class="fa fa-2x fa-external-link"></i
                    ></a>
                    <div class="social">
                      <a href="#"
                        ><i class="fa fa-2x fa-facebook-square"></i
                      ></a>
                      <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                  </figcaption>
                </figure>

                <h4>Ruben Bennett</h4>
                <span class="title">Lobortis Lab</span>
              </div>

              <!-- speaker 8 -->
              <div class="speaker col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <figure>
                  <img class="img-responsive" src="img/speaker8.png" alt="" />
                  <figcaption>
                    <h4>Jennifer Berry</h4>
                    <p>
                      Aliquam ut laoreet velit. Proin orci est, vulputate
                      aliquam eu, tincidunt laoreet lorem.
                    </p>
                    <a class="speaker-detail" href="/speaker-details"
                      ><i class="fa fa-2x fa-external-link"></i
                    ></a>
                    <div class="social">
                      <a href="#"
                        ><i class="fa fa-2x fa-facebook-square"></i
                      ></a>
                      <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                  </figcaption>
                </figure>

                <h4>Jennifer Berry</h4>
                <span class="title">Commodo Apps</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SCHEDULE -->
    <section id="schedule">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <h2 class="uppercase text-center" style="color: white;">Schedule</h2>
            <p class="text-center" style="color: white;">Brace yourself for an exciting four days of 
              Innovations. Knowledge. Transformations & Excitement 
              </p>

            <div id="days" class="owl-carousel">
              <div class="item uppercase">
                <h4 class="uppercase hidden-xs">tuesday</h4>
                <h5>22.03.2022</h5>
              </div>

              <div class="item uppercase">
                <h4 class="uppercase hidden-xs">wednesday</h4>
                <h5>23.03.2022</h5>
              </div>

              <div class="item uppercase">
                <h4 class="uppercase hidden-xs">thursday</h4>
                <h5>24.03.2022</h5>
              </div>

              <div class="item uppercase">
                <h4 class="uppercase hidden-xs">friday</h4>
                <h5>25.03.2022</h5>
              </div>
            </div>

            <div id="timetable" class="owl-carousel owl-theme">
              <!-- DAY 1 -->
              <div id="day1" class="item">
			    <h2 class="text-center" style="color: white;">Decoding India’s tech-future</h2>
                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.30 PM</span>
                    </div>

                    <div class="description">
                      <h3>Event Flag-off</h3>
                      <!-- <p>
                        Vestibulum vel accumsan arcu. Duis nisl purus, interdum
                        nec arcu nec, rutrum fringilla neque. Pellentesque
                        vestibulum turpis sit amet venenatis faucibus.
                      </p> -->
                      <span class="name">Name, Master of Ceremony</span>
                    </div>
                  </div>
                </div>

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.35 PM</span>
                    </div>

                    <div class="description">
                      <h3>Welcome Address</h3>
                      <!-- <p>
                        Vestibulum tincidunt aliquam feugiat. Vestibulum ante
                        ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia
                      </p> -->
                      <span class="name">Rahul Uplap,Head - Education & Competency Development (ECoDe)</span>
                    </div>
                  </div>
                </div>

                <!-- <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-cutlery"></i>
                      <span class="time">12.00 PM</span>
                    </div>

                    <div class="description">
                      <h3>Launch</h3>
                    </div>
                  </div>
                </div> -->

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.40 PM</span>
                    </div>

                    <div class="description">
                      <h3>Keynote Address</h3>
                      <!-- <p>
                        T.B.D
                      </p> -->
                      <span class="name">Dr. Anita Gupta,Scientist G at DST</span>
                    </div>
                  </div>
                </div>

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.00 PM</span>
                    </div>

                    <div class="description">
                      <h3>The magic of TRIZ at Samsung</h3>
                      <!-- <p>
                        TRIZ at Samsung
                      </p> -->
                      <span class="name">Dr Victor Fey-Chairman, TRIZ Research and Development Council at International TRIZ Association</span>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.25 PM</span>
                    </div>

                    <div class="description">
                      <h3> Fuel Cell: The Mitochondria of mobility</h3>
                      <!-- <p>
                        Fuel Cell: The Mitochondria of mobility
                      </p> -->
                      <span class="name">Pradeep C,Associate Director at Ola Electric Mobility Pvt. Ltd</span>
                    </div>
                  </div>
                </div>  <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.50 PM</span>
                    </div>

                    <div class="description">
                      <h3>AI based Pedestrian Analytics: Will it work in India?</h3>
                      <!-- <p>
                        Radar & AI
                      </p> -->
                      <span class="name">Abhilash K,Technical Lead at PathPartner Technology</span>
                    </div>
                  </div>
                </div>  <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">07.15 PM</span>
                    </div>

                    <div class="description">
                      <h3>What have we learned from :  Vaccum tunes, Solid State devices and IGBT</h3>
                      <!-- <p>
                        Transistor to IGBT
                      </p> -->
                      <span class="name">Mr. S. Venkatramani
                        ,Chief mentor and founder at Cerebrum Digital</span>
                    </div>
                  </div>
                </div>  <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">07.40 PM</span>
                    </div>

                    <div class="description">
                      <h3>#BTS SharkTank India </h3>
                      <!-- <p>
                        T.B.D
                      </p> -->
                      <span class="name">Jash Shah,
                        Co-Founder @ Get-A-Whey </span>
                    </div>
                  </div>
                </div>
             
                <!-- <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">08.20 PM</span>
                    </div>

                    <div class="description">
                      <h3>Celebrity Talk</h3>
                      <p>
                        T.B.D
                      </p>
                      <span class="name"> T.B.D</span>
                    </div>
                  </div>
                </div> -->
              </div>

              <!-- DAY 2 -->
              <div id="day2" class="item">
			   <h2 class="text-center" style="color: white;">What can India achieve on global map & a chat with a women funder breaking stereotype.
</h2>
                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.30 PM</span>
                    </div>

                    <div class="description">
                      <h3>Event Flag-off</h3>
                      <!-- <p>
                        Nulla nulla risus, feugiat ut semper id, luctus ac
                        neque. Sed fringilla, metus at elementum elementum,
                        tortor ipsum convallis mi, non luctus sapien urna sed
                        purus.
                      </p> -->
                      <span class="name">Emcee</span>
                    </div>
                  </div>
                </div>

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.40 PM</span>
                    </div>

                    <div class="description">
                      <h3>Keynote Address</h3>
                      <!-- <p>
                        Phasellus faucibus id est at tristique. Maecenas id
                        metus posuere, pharetra tellus eu, iaculis elit. Etiam
                        nec fringilla enim.
                      </p> -->
                      <span class="name">Dr Abhay Jere
                        Chief Innovation Officer (CIO) at Ministry of Education, Govt. of India</span>
                    </div>
                  </div>
                </div>

                <!-- <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-cutlery"></i>
                      <span class="time">12.30 PM</span>
                    </div>

                    <div class="description">
                      <h3>Launch</h3>
                    </div>
                  </div>
                </div> -->

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.00 PM</span>
                    </div>

                    <div class="description">
                      <h3>TIntelligent Innovation: This is just the begining</h3>
                      <!-- <p>
                        Dramatic accelaration in development through Innovation
                      </p> -->
                      <span class="name">Shobhit Shrotriya,
                        Managing Director - Life Sciences R&D Operations, Accenture</span>
                    </div>
                  </div>
                </div>

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.25 PM</span>
                    </div>

                    <div class="description">
                      <h3></h3>
                      <!-- <p>
                        T.B.D
                      </p> -->
                      <span class="name">Omkar Panse ,KPIT</span>
                    </div>
                  </div>
                </div>
               
                    <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.50 PM</span>
                    </div>

                    <div class="description">
                      <h3>Semiconductor Design: Will India be on the global map?</h3>
                      <!-- <p>
                        Semi-Conductor Opportunities in India
                      </p> -->
                      <span class="name">Rakesh Mehta,
                        Bit Mapper Integration Technologies Pvt. Ltd
                        Founder, Director</span>
                    </div>
                  </div>
                </div> <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">07.15 PM</span>
                    </div>

                    <div class="description">
                      <h3>How hot is Solar cooling technology?</h3>
                      <!-- <p>
                        Solar cooling technology
                      </p> -->
                      <span class="name">Dr. R. Saravanan,
                        Professor-
                        Anna University, Chennai</span>
                    </div>
                  </div>
                </div> <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">07.40 PM</span>
                    </div>

                    <div class="description">
                      <h3></h3>
                      <!-- <p>
                        T.B.D
                      </p> -->
                      <span class="name">Dr. Greg Shaver
                        Professor at Purdue University</span>
                    </div>
                  </div>
                </div> <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">08.05 PM</span>
                    </div>

                    <div class="description">
                      <h3>Do Women make better entrepreneurs?</h3>
                      <!-- <p>
                        T.B.D
                      </p> -->
                      <span class="name">Mili Kapadia,
                        Founder, ESTREE Iron Services</span>
                    </div>
                  </div>
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">08.30 PM</span>
                    </div>

                    <div class="description">
                      <h3>SharkTank India is it worth the hype?</h3>
                      <!-- <p>

                      </p> -->
                      <span class="name">Saurabh Mangulkar,
                        Founder at EventBeep</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DAY 3 -->
              <div id="day3" class="item">
                <div class="event">
				<h2 class="text-center" style="color: white;">The time to make the mobility shift is now!</h2>
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.30 AM</span>
                    </div>

                    <div class="description">
                      <h3>Event Flag-Off </h3>
                      <!-- <p>
                        Duis sit amet pulvinar est. Nullam vehicula gravida
                        porttitor. Nullam accumsan ornare massa ut porta. Ut
                        turpis neque, sodales eu venenatis ut, tincidunt id
                        neque. Etiam porttitor sapien a velit mollis fringilla
                        nec nec lorem.
                      </p> -->
                      <span class="name">Emcee</span>
                    </div>
                  </div>
                </div>

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.40 PM</span>
                    </div>

                    <div class="description">
                      <h3>Data + Platforms + Connectivity =  Future of Mobility</h3>
                      <!-- <p>Clock Speed in Mobility Industry
                        Connnected Vehicle Technology
                      </p> -->
                      <span class="name">Lalit Arora,
                        India Head Client Relationships - Connected Automotive Solutions at Tata Communications</span>
                    </div>
                  </div>
                </div>

                <!-- <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-cutlery"></i>
                      <span class="time">06.00 PM</span>
                    </div>

                    <div class="description">
                      <h3>Launch</h3>
                    </div>
                  </div>
                </div> -->

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.00 PM</span>
                    </div>

                    <div class="description">
                      <h3>Clock Speed in Mobility Industry</h3>
                      <!-- <p>
                        First Look at 5G
                      </p> -->
                      <span class="name">Raghu Muttige,
                        Managing Director - Dana India Technical Centre at Dana Incorporated/span>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.25 PM</span>
                    </div>

                    <div class="description">
                      <h3>5G speeds will put mobility in fifth gear</h3>
                      <!-- <p>
                       Radar & AI
                      </p> -->
                      <span class="name">Nakul Navarange
                        Staff Systems Engineer- 5G Networks</span>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.50 PM</span>
                    </div>

                    <div class="description">
                      <h3>How dependable is Automotive Radar tech?</h3>
                      <!-- <p>
                       Radar & AI
                      </p> -->
                      <span class="name">Santhana,
                        DSP & Algorithm Architect</span>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">07.15 PM</span>
                    </div>

                    <div class="description">
                      <h3>How strong is you parachute before the entrepreneurship plunge?</h3>
                      <!-- <p>
                       T.B.D
                      </p> -->
                      <span class="name">Ameesha Vohra,
                        Owner and Joint Managing Director at Prabhudas Lilladher</span>
                    </div>
                  </div>
                </div><div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">07.40 PM</span>
                    </div>

                    <div class="description">
                      <h3>Will Open Source Development end up Closing monopolies?</h3>
                      <!-- <p>
                        Open Source Development 
                      </p> -->
                      <span class="name">Nikhil D,
                        Analog Design Engineer at Texas Instruments</span>
                    </div>
                  </div>
                </div><div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">08.05 PM</span>
                    </div>

                    <div class="description">
                      <h3>Entrepreneurship : is it everyone's cup of tea</h3>
                      <!-- <p>
                   
                      </p> -->
                      <span class="name">Shashank Moddhia,
                        Founder, The Renal Project</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DAY 4 -->
              <div id="day4" class="item">
                <h2 class="text-center" style="color: white;">IISER, Pune - KPIT Energy & Mobility Conference & KPIT Shodh Awards</h2>
                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.00 PM</span>
                    </div>

                    <div class="description">
                      <h3>Event Flag-off</h3>
                      <!-- <p>
                        Uspendisse sed scelerisque eros. Aenean a mi libero.
                        Morbi imperdiet massa in dapibus lobortis.
                      </p> -->
                      <span class="name">EMcee</span>
                    </div>
                  </div>
                </div>

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.10 PM</span>
                    </div>

                    <div class="description">
                      <h3>Welcome Address</h3>
                      <!-- <p>
                        Proin consequat mauris in sem aliquet tempor. Sed
                        sodales libero lectus, quis laoreet diam sagittis vitae.
                        Quisque quis sem sit amet ipsum eleifend eleifend.
                      </p> -->
                      <span class="name">Dr. Satish Ogale</span>
                    </div>
                  </div>
                </div>

                <!-- <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-cutlery"></i>
                      <span class="time">01.00 PM</span>
                    </div>

                    <div class="description">
                      <h3>Launch</h3>
                    </div>
                  </div>
                </div> -->

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">05.35 PM</span>
                    </div>

                    <div class="description">
                      <h3></h3>
                      <!-- <p>
                        Nam imperdiet tellus ac interdum congue. Sed nulla
                        metus, posuere eu auctor vel, imperdiet et leo.
                      </p> -->
                      <span class="name">Ashish Lele, Thermax, Milind Rane, IISER, Moderator - Dr Satish Ogale</span>
                    </div>
                  </div>
                </div>

                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.30 PM</span>
                    </div>

                    <div class="description">
                      <h3>Thesis Presentation</h3>
                      <!-- <p>
                        Thesis Presentation for Each Track  - Parallel Screening (Enegry Storage, Fuel Cell, Autonomouns Driving Applications, Green Energy Genergy Generation
                      </p> -->
                      <span class="name">Finalist</span>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">06.30 PM</span>
                    </div>

                    <div class="description">
                      <h3>Thesis Presentation</h3>
                      <!-- <p>
                        Thesis Presentation for Each Track  - Parallel Screening (Enegry Storage, Fuel Cell, Autonomouns Driving Applications, Green Energy Genergy Generation
                      </p> -->
                      <span class="name">Finalist</span>
                    </div>
                  </div>
                </div><div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">07.35 PM</span>
                    </div>

                    <div class="description">
                      <h3></h3>
                      <!-- <p>
                        T.B.D
                      </p> -->
                      <span class="name">Dr. Ravindrasinh Pardeshi , Principal Fergusson College</span>
                    </div>
                  </div>
                </div><div class="event">
                  <div class="event-inner">
                    <div class="icon">
                      <i class="fa fa-2x fa-clock-o"></i>
                      <span class="time">08.00 PM</span>
                    </div>

                    <div class="description">
                      <h3></h3>
                      <!-- <p>
                        T.B.D
                      </p> -->
                      <span class="name">Dr Rama Kumar,
                        Director (R&D) and Board Member, IndianOil Corporation</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

        <!-- REGISTER -->
        <section id="register" style="height: 90vh;">
           <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <img src="img/register-left.png" alt="innovate" style="width: 70%; height: 70%;margin-bottom: 2rem;">
                <!-- <h2 class="uppercase">register</h2> -->
              </div>
    
           <!--   <div class="col-md-4 col-lg-4">
                <div class="card-container">
                  <div class="card click price-table" data-direction="right">
    
                    <div class="front price-table-header">
                      <p class="price">$225</p>
                      <p class="title">Early Bird</p>
                    </div>
    
    
                    <div class="back">
                      <ul class="price-table-description">
                        <li class="description-item">Conference kit</li>
                        <li class="description-item stripe">Coffee break</li>
                        <li class="description-item">Lunch</li>
                        <li class="description-item stripe">All seasons</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-md-4 col-lg-4">
                <div class="card-container">
                  <div class="card click price-table" data-direction="right">
    
                    <div class="front price-table-header">
                      <p class="price">$275</p>
                      <p class="title">Standart</p>
                    </div>
    
    
                    <div class="back">
                      <ul class="price-table-description">
                        <li class="description-item">Conference kit</li>
                        <li class="description-item stripe">Coffee break</li>
                        <li class="description-item">Lunch</li>
                        <li class="description-item stripe">All seasons</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-md-4 col-lg-4">
                <div class="card-container">
                  <div class="card click price-table" data-direction="right">
    
                    <div class="front price-table-header">
                      <p class="price">$315</p>
                      <p class="title">Full Price</p>
                    </div>
    
    
                    <div class="back">
                      <ul class="price-table-description">
                        <li class="description-item">Conference kit</li>
                        <li class="description-item stripe">Coffee break</li>
                        <li class="description-item">Lunch</li>
                        <li class="description-item stripe">All seasons</li>
                      </ul>
                    </div>
                  </div>
                </div> 
              </div>  -->
    
              <div class="col-lg-12 text-center">
                <p class="lead">
                  Hurry Up! Only Limited
                  <!-- <span
                    class="timer"
                    data-from="500"
                    data-to="198"
                    data-speed="10000"
                  ></span> -->
                  seats
                </p>
                <p>
                <strong>Get your spot booked and watch the change as it happens. Register right away. </strong>  
                </p>
                <a class="button button-big button-light" href="/register">register</a>
              </div>
            </div>
          </div>
        </section>
    <!-- VENUE -->
   <!--  <section id="venue">
      <div class="venue">
        <div class="container">
          <div class="row">
            <div class="venue-address">
              <h2 class="uppercase">venue</h2>
              <p>
                Phasellus accumsan magna eu leo cursus molestie.<br />Suspendisse
                ultricies nunc nec justo ullamcorper
              </p>

              <p class="address">
                <i class="fa fa-2x fa-map-marker fa-inverse"></i>
                1571 Hidden Terrace New York,<br />
                NY, 13247
              </p>

              <a class="button button-light" href="#">more info</a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3>How to get to the conference</h3>
          </div>

          <div class="col-md-4 col-lg-4">
            <i class="fa fa-3x fa-location-arrow"></i>
            <h4>Route from town center</h4>
            <p>
              Sed commodo vitae enim elementum dictum. Aliquam at fermentum
              quam, et convallis odio. Sed in sem sagittis, pharetra purus in,
              ullamcorper neque. Quisque gravida dignissim eros, vitae imperdiet
              eros tempus ac. Maecenas in ipsum cursus, placerat augue quis,
              tristique purus. Vivamus eget eros nec mi vulputate semper
              sagittis quis dui.
            </p>
          </div>

          <div class="col-md-4 col-lg-4">
            <i class="fa fa-3x fa-building-o"></i>
            <h4>Route from hotel</h4>
            <p>
              Sed commodo vitae enim elementum dictum. Aliquam at fermentum
              quam, et convallis odio. Sed in sem sagittis, pharetra purus in,
              ullamcorper neque. Quisque gravida dignissim eros, vitae imperdiet
              eros tempus ac. Maecenas in ipsum cursus, placerat augue quis,
              tristique purus. Vivamus eget eros nec mi vulputate semper
              sagittis quis dui.
            </p>
          </div>

          <div class="col-md-4 col-lg-4">
            <i class="fa fa-3x fa-plane"></i>
            <h4>Route from airport</h4>
            <p>
              Sed commodo vitae enim elementum dictum. Aliquam at fermentum
              quam, et convallis odio. Sed in sem sagittis, pharetra purus in,
              ullamcorper neque. Quisque gravida dignissim eros, vitae imperdiet
              eros tempus ac. Maecenas in ipsum cursus, placerat augue quis,
              tristique purus. Vivamus eget eros nec mi vulputate semper
              sagittis quis dui.
            </p>
          </div>
        </div>
      </div>
    </section> -->

    <!-- TESTIMONIAL -->
  <!--  <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <div id="quote" class="owl-carousel owl-theme">
              <div class="item text-center">
                <img class="img-circle" src="img/testimonial1.png" alt="" />
                <div>
                  <p>
                    Aliquam faucibus sodales metus, commodo posuere lacus
                    convallis eu. Donec dictum urna in dignissim cursus. Nunc
                    gravida leo nisi, a sodales nibh viverra.
                  </p>
                  <h4 class="uppercase">Dean Nelson</h4>
                </div>
              </div>

              <div class="item text-center">
                <img class="img-circle" src="img/testimonial2.png" alt="" />
                <div>
                  <p>
                    Aliquam faucibus sodales metus, commodo posuere lacus
                    convallis eu. Donec dictum urna in dignissim cursus. Nunc
                    gravida leo nisi, a sodales nibh viverra.
                  </p>
                  <h4 class="uppercase">Dean Nelson</h4>
                </div>
              </div>

              <div class="item text-center">
                <img class="img-circle" src="img/testimonial3.png" alt="" />
                <div>
                  <p>
                    Aliquam faucibus sodales metus, commodo posuere lacus
                    convallis eu. Donec dictum urna in dignissim cursus. Nunc
                    gravida leo nisi, a sodales nibh viverra.
                  </p>
                  <h4 class="uppercase">Dean Nelson</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- SPONSORS -->
   <!--  <section id="sponsors">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="uppercase">sponsors</h2>

            <h3 class="uppercase">gold partners</h3>
            <div class="sponsor-slider">
              <img class="img-responsive" src="img/logo_01.png" alt="logo" />
              <img class="img-responsive" src="img/logo_02.png" alt="logo" />
              <img class="img-responsive" src="img/logo_03.png" alt="logo" />
            </div>

            <h3 class="uppercase">silver partners</h3>
            <div class="sponsor-slider">
              <img class="img-responsive" src="img/logo_04.png" alt="logo" />
              <img class="img-responsive" src="img/logo_05.png" alt="logo" />
              <img class="img-responsive" src="img/logo_06.png" alt="logo" />
              <img class="img-responsive" src="img/logo_07.png" alt="logo" />
              <img class="img-responsive" src="img/logo_08.png" alt="logo" />
              <img class="img-responsive" src="img/logo_09.png" alt="logo" />
            </div>

            <h3 class="uppercase">community partners</h3>
            <div class="sponsor-slider">
              <img class="img-responsive" src="img/logo_10.png" alt="logo" />
              <img class="img-responsive" src="img/logo_11.png" alt="logo" />
              <img class="img-responsive" src="img/logo_12.png" alt="logo" />
            </div>

            <p class="lead uppercase">Become a sponsor</p>
            <p>
              Interested in becoming a sponsor? Learn about opportunities and
              benefits.
            </p>
            <a class="button button-dark" href="#">request info</a>
          </div>
        </div>
      </div>
    </section> -->

    <!-- SUBSCRIBE -->
  <!--   <div id="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3 class="text-center">Be the first to get nearly updates</h3>

            <div class="row">
              <div class="col-lg-9">
                <input type="email" id="newsletter_email" />
              </div>
              <div class="col-lg-3">
                <button
                  class="button button-big button-light"
                  onclick="newsletter_send();"
                >
                  subscribe
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- FAQ and GALLERY -->
    <!--  <section id="faq-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="panel-group" id="faq">
              <h3 class="uppercase">faq</h3>
              <p>Suspendisse mattis tempus erat, ac aliquam lectus</p>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#faq"
                      href="#collapseOne"
                      class="collapsed"
                    >
                      <i class="fa fa-2x fa-plus-circle"></i> Mauris id
                      vestibulum eros
                    </a>
                  </h4>
                </div>
                <div
                  id="collapseOne"
                  class="panel-collapse collapse"
                  style="height: 0px"
                >
                  <div class="panel-body">
                    <p class="small">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life
                      accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch. Food truck
                      quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin
                      coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                      helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#faq"
                      href="#collapseTwo"
                      class="collapsed"
                    >
                      <i class="fa fa-2x fa-plus-circle"></i> Phasellus
                      fermentum dolor commodo
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p class="small">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life
                      accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch. Food truck
                      quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#faq"
                      href="#collapseThree"
                      class="collapsed"
                    >
                      <i class="fa fa-2x fa-plus-circle"></i> Etiam nec sem
                      mollis
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p class="small">
                      Ad vegan excepteur butcher vice lomo. Leggings occaecat
                      craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#faq"
                      href="#collapseFour"
                      class="collapsed"
                    >
                      <i class="fa fa-2x fa-plus-circle"></i> Etiam suscipit a
                      velit volutpat dictum
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p class="small">
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                      squid single-origin coffee nulla assumenda shoreditch et.
                      Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Leggings
                      occaecat craft beer farm-to-table, raw denim aesthetic
                      synth nesciunt you probably haven't heard of them
                      accusamus labore sustainable VHS.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#faq"
                      href="#collapseFive"
                      class="collapsed"
                    >
                      <i class="fa fa-2x fa-plus-circle"></i> Nulla quis
                      adipiscing nisi
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p class="small">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life
                      accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch. Food truck
                      quinoa nesciunt laborum eiusmod.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div id="gallery">
              <h3>Past events photos</h3>
              <p>
                Proin eu malesuada leo, eu aliquet lorem. In vitae condimentum
              </p>
              <div class="row">
                <a
                  class="image-link col-md-4 col-lg-4"
                  href="img/gallery-img1.png"
                  ><img class="img-responsive" src="img/thumb1.png" alt=""
                /></a>
                <a
                  class="image-link col-md-4 col-lg-4"
                  href="img/gallery-img2.png"
                  ><img class="img-responsive" src="img/thumb2.png" alt=""
                /></a>
                <a
                  class="image-link col-md-4 col-lg-4"
                  href="img/gallery-img3.png"
                  ><img class="img-responsive" src="img/thumb3.png" alt=""
                /></a>
                <a
                  class="image-link col-md-4 col-lg-4"
                  href="img/gallery-img4.png"
                  ><img class="img-responsive" src="img/thumb4.png" alt=""
                /></a>
                <a
                  class="image-link col-md-4 col-lg-4"
                  href="img/gallery-img5.png"
                  ><img class="img-responsive" src="img/thumb5.png" alt=""
                /></a>
                <a
                  class="image-link col-md-4 col-lg-4"
                  href="img/gallery-img6.png"
                  ><img class="img-responsive" src="img/thumb6.png" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>   -->

<section id="footer">
  <div class="footer container">
    <p>
  <h3 style="display: inline; margin-right: 2rem;"> Visit us at</h3>

    <a href="https://twitter.com/KPITSparkle/" target="_blank" rel="noopener noreferrer"> <i class="fa fa-2x fa-twitter"></i></a>
    <a href="https://www.facebook.com/KPITSparkle/"  target="_blank"><i class="fa fa-2x fa-facebook"></i></a> 
    <a href="https://www.linkedin.com/company/kpitsparkle/"  target="_blank"><i class="fa fa-linkedin"></i></a> 
    <a href="https://sparkle.kpit.com" target="_blank"><i class="fa fa-2x fa-globe"></i></a>
  </p>
  </div>

  </div>
</section>

    <!-- CONTACT -->
    <!-- <section id="contact"> -->
      <!-- map -->
      <!-- <div id="gmap_canvas"></div>

      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="contact">
              <h2 class="uppercase">contact</h2>
              <br>
              <p>
                Donec aliquam libero quam, non accumsan eros pellentesque nec.
                Sed ultrices, magna eget fermentum dapibus, arcu ante venenatis
                ante, in dapibus diam massa a urna.
              </p>

              <p class="address">
                1571 Hidden Terrace New York, NY, 13247<br /><br />
                (917) 600-4570
              </p>

              <div class="social">
                <a href="https://www.twitter.com/kpitsparkle" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>

                <a href="https://www.facebook.com/KPITSparkle" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>

                <a href="https://www.linkedin.com/company/kpitsparkle" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- modernizr -->
    <script src="js/modernizr.custom.00695.js"></script>

    <script src="js/jquery-1.11.0.min.js"></script>
    <script
      type="text/javascript"
      src="http://maps.google.com/maps/api/js?sensor=false"
    ></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/flipCard.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <script src="js/retina-1.1.0.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- <script src="/js/register.js"></script> -->

    <script src="js/main.js"></script>

    <!-- GOOGLE ANALYTICS -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "http://www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-XXXXXX-XX", "yourdomain.com");
      ga("send", "pageview");
    </script>


  </body>
</html>
