<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <title>KPIT SPARKLE - Finale Registration</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="description"
      content="Platform to register for KPIT Sparkle Grand Finale."
    />
    <meta name="author" content="themecube" />

    <!-- viewport settings -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- CSS -->

    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/jquery.countdown.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/flipCard.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" /> -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <link rel="stylesheet" href="/css/register.css" />
    <!-- <link rel="stylesheet" href="/css/color/green.css" /> -->
    <!-- Choose your color, green, blue, yellow, red, darkblue, purple -->

    <!-- Font -->
    <link
      href="http://fonts.googleapis.com/css?family=Economica:400,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>

<body>
<section class="not-found">
    <div class="notfound">
        <h2 class="text-center" style="color: white;">404! Not Found.</h2>
        <img src="https://sparklegrandfinale.kpit.com//img/lost.svg" class="text-center">
            
        </img>
    </div>
</section>
</body>
</html>