<!DOCTYPE html>
<html lang="en">
<head>
    <title>KPIT SPARKLE - Registration Successfull</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="description"
      content="Evential - One Page Event HTML Template"
    />
    <meta name="author" content="themecube" />

    <!-- viewport settings -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/register.css">
    <!-- Choose your color, green, blue, yellow, red, darkblue, purple -->

    <!-- Font -->
    <link
      href="http://fonts.googleapis.com/css?family=Economica:400,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>
</head>
<body>
    <!-- PRELOADING  -->
    <!-- <div id="preload">
        <div class="preload">
          <div class="loader">Loading...</div>
        </div>
      </div> -->
    <!-- NAVIGATION -->
  
  <main class="post-registration-page">
    <section id="post-registration" data-stellar-background-ratio="0.5">
        <div class="countdown text-center container">
         
                    <% if(status && status === 'success'){ %>
                      <div class="card">
                        <div class="success-img">
                          <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 70 70">
  <path id="successAnimationResult" fill="#D8D8D8" d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"/>
  <circle id="successAnimationCircle" cx="35" cy="35" r="24" stroke="#979797" stroke-width="2" stroke-linecap="round" fill="transparent"/>
  <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2" points="23 34 34 43 47 27" fill="transparent"/>
</svg>
                        </div>
                        <div class="card-body">
                          <% if(alreadyRegistered){ %>
                          <h3 class="card-title">You have already registered for KPIT Sparkle Grand Finale</h3>
                          <% } else { %>
                          <h3 class="card-title">Perfect! You have successfully registered for KPIT Sparkle Grand Finale</h3>
                          <% } %>
                         <!-- <%=email %> -->
                          <br/>
                          <p class="card-text"><em><small>Pull up a chair. Take a taste. Come join us. Life is so endlessly delicious.</small></em></p>
                          <!-- <a href="https://wa.me/?text=This is an automated message sent for testing of sparkle.kpit.com" class="btn btn-primary" target="_blank">W</a>
                          <a href="https://twitter.com/share?url=sparkle.kpit.com&text=This is an automated message sent for testing of sparkle.kpit.com" class="btn btn-primary" target="_blank">T</a> 
                          <a href="https://www.facebook.com/sharer.php?u=https://www.facebook.com/KPITSparkle" class="btn btn-primary" target="_blank">F</a> 
                          <a href="https://www.linkedin.com/shareArticle?url=sparkle.kpit.com&title=his is an automated message sent for testing of " class="btn btn-primary" target="_blank">L</a>
                          <p class="card-text"><em><small>Pull up a chair. Take a taste. Come join us. Life is so endlessly delicious.</small></em></p> -->
                          <a href="<%= `https://kpitsparklegrandfinale.com/login_with_portal?email=${email}` %>"  class="btn" target="_blank">Go to Event</a> 
                          <hr class="hr-text" style="margin-top: 2rem; margin-bottom: 2rem;">
                          <div class="social-share">
                            <h5>Share this with your friends and family</h5>
                            <div class="social-icons">
                              <a href="https://wa.me/?text=This is an automated message sent for testing of sparkle.kpit.com"  target="_blank" rel="noopener noreferrer"><img src="/img/wapp.gif" alt="WhatsApp"></a>
                              <a href="https://twitter.com/share?url=sparkle.kpit.com&text=This is an automated message sent for testing of sparkle.kpit.com"  target="_blank"><img src="/img/twitter.gif" alt="Twitter"></a> 
                              <a href="https://www.facebook.com/sharer.php?u=https://www.facebook.com/KPITSparkle"  target="_blank"><img src="/img/fb.gif" alt="Facebook"></a> 
                              <a href="https://www.linkedin.com/shareArticle?url=sparkle.kpit.com&title=his is an automated message sent for testing of "  target="_blank"><img src="/img/linkedin.gif" alt="Twitter"></a>
                             
                              <!-- <a href="http:" target="_blank" rel="noopener noreferrer"><img src="/img/fb.png" alt="Facebook"></a>
                              <a href="http:" target="_blank" rel="noopener noreferrer"><img src="/img/google1.png" alt="Google"></a> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }else{ %>
                      <div class="card">
                        <div class="error-msg">
                          <h2>Nothing Here...</h2>
                        </div>
                        </div>
                    <% } %>
          
            </section>
  
        </main>
        </div>
          <!-- <script src="js/social-media.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>