@font-face {
  font-family: "sinkin_sans300_light";
  src: url("../fonts/SinkinSans-300Light-webfont.eot");
  src: url("../fonts/SinkinSans-300Light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SinkinSans-300Light-webfont.woff") format("woff"),
    url("../fonts/SinkinSans-300Light-webfont.ttf") format("truetype"),
    url("../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sinkin_sans400_regular";
  src: url("../fonts/SinkinSans-400Regular-webfont.eot");
  src: url("../fonts/SinkinSans-400Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SinkinSans-400Regular-webfont.woff") format("woff"),
    url("../fonts/SinkinSans-400Regular-webfont.ttf") format("truetype"),
    url("../fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sinkin_sans600_semibold";
  src: url("../fonts/SinkinSans-600SemiBold-webfont.eot");
  src: url("../fonts/SinkinSans-600SemiBold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SinkinSans-600SemiBold-webfont.woff") format("woff"),
    url("../fonts/SinkinSans-600SemiBold-webfont.ttf") format("truetype"),
    url("../fonts/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sinkin_sans700_bold";
  src: url("../fonts/SinkinSans-700Bold-webfont.eot");
  src: url("../fonts/SinkinSans-700Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SinkinSans-700Bold-webfont.woff") format("woff"),
    url("../fonts/SinkinSans-700Bold-webfont.ttf") format("truetype"),
    url("../fonts/SinkinSans-700Bold-webfont.svg#sinkin_sans700_bold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

*::selection {
  background: #8fdb00;
  color: #000;
}

h2 {
  font-family: "sinkin_sans600_semibold";
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 40px;
}

body {
  color: #f7f7f7;
  background: #212121;
  font-family: "sinkin_sans300_light";
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c8c8c85c;
  color: #fff !important;
  transition: all 1s;
}

.registration-form {
  padding: 4rem;
  padding-bottom: 1rem;
}

.register-page .registration,
.post-registration-page .card {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  background: #2a2a2a;
  border-radius: 0.5rem;
}

.register-page .head-title {
  margin-top: 2.5rem;
}

.left-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50% !important;
  background: url("/img/register-bg.png") !important;
  background-size: cover !important;
}

.register-page .register-form .form-control {
  background-color: transparent;
  background: transparent;
  border: none;
  border-bottom: 1px solid #2e2e2e;
  border-radius: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  height: 5rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
}

.form-control:focus {
  border-bottom: 1px solid #8fdb00;
  box-shadow: none;
}

.btn {
  background-color: #8fdb00 !important;
  border: none;
  border-radius: 0;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* margin-left: 40% !important; */
  font-weight: bold;
}

.register-page .btn {
  margin-left: 40% !important;
}

.google-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 1rem; */
  margin-bottom: 2.5rem !important;
  padding: 1rem;
  font-weight: 600;
  /* border: 1px solid ; */
}

.google-auth img {
  cursor: pointer;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  /* color: black; */
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #2a2a2b;
}

.post-registration-page .countdown .card {
  /* font-family: "Work Sans", sans-serif; */
  font-family: "sinkin_sans600_semibold";
  padding: 0.5rem;
  max-width: 60%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.card-title {
  font-weight: 700;
}

.card-body p {
  font-family: "sinkin_sans400_regular";
}

.card-body .card-text {
  letter-spacing: 1px;
}

.card-body .card-text::before {
  content: "\275D";
  margin: 2px;
}

.card-body .card-text::after {
  content: "\275E";
  margin: 2px;
}

.social-share {
  margin-top: 2rem;
}

.social-share .social-icons img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1rem;
}

.meme-img {
  width: 40%;
  margin: auto;
}

.meme-img span {
  display: none;
  margin-top: -2rem;
  margin-right: 1rem;
  text-align: right;
}

/* .meme-img:hover::after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
} */

.meme-img img {
  width: 100%;
  height: auto;
}

.meme-img .download-meme:hover span {
  display: block;
  margin-top: -2rem;
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 211px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#successAnimationCircle {
  stroke-dasharray: 211px 211px;
  stroke: #8fdb00;
}
#successAnimationCheck {
  stroke-dasharray: 50px 50px;
  stroke: #8fdb00;
}
#successAnimationResult {
  fill: #8fdb00;
  opacity: 0;
}
#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
    0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
    0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
  animation: 0.3s linear 0.9s both fadeIn;
}

.notfound {
  margin-top: 5rem;
  margin: auto;
}
.notfound img {
  height: 50%;
  width: 50%;
}

@media screen and (max-width: 720px) {
  .register-page .registration {
    display: block;
  }
  .head-title {
    display: none;
  }
  .left-img {
    display: block;
    width: 100% !important;
    text-align: center;
    padding: 2rem;
  }
  .left-img img {
    width: 80%;
  }
  .google-auth {
    padding: 0 !important;
    padding-top: 3rem !important;
  }
  .post-registration-page .countdown .card {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
  .social-share .social-icons img {
    margin: 1.5rem 0.5rem;
  }

  .meme-img {
    width: 60%;
  }
}

.reg-btn a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #8fdb00;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  font-family: "Barlow", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  /* Create hover glow effect with CSS box-shadow */
}
.reg-btn a:hover {
  background: #8fdb00;
  color: #050801;
  box-shadow: 0 0 5px #8fdb00, 0 0 25px #8fdb00, 0 0 50px #8fdb00,
    0 0 200px #8fdb00;
  /* Create reflection effect with CSS box-reflect (Not supported by all browsers!) */
  /* -webkit-box-reflect: below 1px linear-gradient(rgba(0, 0, 0, 0), black); */
}
.reg-btn a span {
  position: absolute;
  display: block;
  /* Adjusting animation parameters for each single SPAN tag */
}
.reg-btn a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #8fdb00);
  animation: animate1 1s linear infinite;
}
.reg-btn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #8fdb00);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
.reg-btn a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #8fdb00);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
.reg-btn a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #8fdb00);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
/* Animation for first SPAN-Tag */
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
/* Animation fro second SPAN-Tag */
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
/* Animation for third SPAN-Tag */
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
/* Animation for fourth SPAN-Tag */
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}