/* EVENTIAL CSS 

	1. CORE CSS
	2. NAVIGATION
	3. TOP
	   - Countdown
	4. OVERVIEW
	   - Milestone
	5. SPEAKERS
	6. SCHEDULE
	7. VENUE
	8. TESTIMONIAL
	9. SPONSORS
	10. SUBSCRIBE
	11. FAQ & GALLERY
	12. REGISTER
	13. CONTACT 
	14. MISC.
		- Form Elements
		- Buttons
		- Preload	
*/

/* CORE CSS */

*::selection {
  background: #8fdb00;
  color: #000;
}

body {
  color: #f7f7f7;
  background: #212121;
}

/* NAVIGATION */

.navbar-custom {
  color: #ffffff;
}

.navbar-custom .n-link {
  color: #fff;
}

.navbar-custom .n-link-b {
  transition: all 1s ease-in-out;
  color: #212121;
}

.navbar-custom .navbar-nav > li > a:hover {
  color: #212121;
}

.navbar-custom .navbar-toggle {
  background: #212121;
}

.top-nav-collapse {
  background-color: #8fdb00;
}

.navbar-custom .navbar-toggle .icon-bar {
  background: #8fdb00;
}

/* TOP */

#top {
  color: #ffffff;
}

/* Countdown */

#countdown {
  color: #ffffff;
}

/* OVERVIEW */

#overview h3 {
  color: #fff;
}

#overview h3 span {
  color: #f7f7f7;
}

#overview h4 {
  margin-bottom: 20px;
}

#overview i {
  color: #8fdb00;
  color: #8fdb00;
}

#overview .lead {
  color: #fff;
}

#overview .fa-circle {
  color: #8fdb00;
  color: #8fdb00;
}

/* SPEAKER */

#speakers {
  background: #efefef;
}

.speaker figcaption {
  background: #8edb00d3;
  color: #8edb00d3;
  color: #ffffff;
}

.speaker figcaption h4 {
  color: #ffffff;
}

.speaker figcaption p {
  color: #ffffff;
}

.speaker a,
.speaker .social a {
  color: rgba(255, 255, 255, 0.75);
}

.speaker a:hover,
.speaker .social a:hover {
  color: rgba(255, 255, 255, 1);
}

.speaker .title {
  color: #888888;
}

/* speaker detail popup */

#speaker-detail {
  color: #f7f7f7;
  background: #ffffff;
  background: linear-gradient(90deg, #1d3a49 0.01%, #1b3745 89.97%);
}

#speaker-detail h3 {
  color: #8fdb00;
  color: #8fdb00;
}

#speaker-detail a {
  color: #8fdb00;
  color: #8fdb00;
}

#speaker-detail i {
  color: #888888;
}

/* SCHEDULE */
#schedule,
#speakers,
#faq-gallery {
  color: #212121;
}

.event h3 {
  color: #8fdb00;
}

.event .icon {
  color: #ffffff;
  background: #8fdb00;
}

.event .description {
  background: #efefef;
}

/* Schedule Pagination */

#days .item {
  background: #efefef;
}

#days .item:hover,
#days .item:active {
  color: #ffffff;
  background: #8fdb00;
}

/* VENUE */

.venue-address {
  color: #ffffff;
  background: #8edb00d3;
}

#venue h3 {
  color: #8fdb00;
  color: #8fdb00;
}

#venue .venue-address h2 {
  color: #ffffff;
}

#venue i {
  color: #8fdb00;
  color: #8fdb00;
}

#venue .fa-inverse {
  color: #ffffff;
}

/* TESTIMONIAL */

#testimonial {
  color: #ffffff;
}

/* SPONSOR */

#sponsors h3 {
  color: #fff;
}

/* SUBSCRIBE */

#subscribe {
  color: #ffffff;
}

#subscribe input {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #ffffff;
}

/* FAQ - GALLERY */

#faq-gallery {
  background: #ececec;
}

#faq i {
  color: #8fdb00;
}

/* REGISTER */

#register {
  color: #ffffff;
  /*background:#efefef;*/
}

.price-table-header {
  color: #ffffff;
  background: #8fdb00;
}

.price-table-description {
  background: #ffffff;
}

.description-item {
  color: #f7f7f7;
}

.price-table-description .stripe {
  color: #ffffff;
  background: #8fdb00;
}

/* register form */

#register-form {
  background: #ffffff;
  color: #212121;
}

/* CONTACT */

.contact {
  /* color: #ffffff; */
  color: #212121;
  background: #8edb00d3;
}

.social .fa-inverse {
  color: #8fdb00;
}

.social a {
  /* color: rgba(255, 255, 255, 0.65); */
  color: #212121;
}

.social a:hover {
  color: rgba(255, 255, 255, 1);
}

/* MISC */

/* FORM ELEMENTS */

/* input[type="text"],
input[type="email"],
select {
  color: #f7f7f7;
} */

input[type="text"],
input[type="email"] {
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c8c8c85c;
}

::-webkit-input-placeholder {
  color: #f7f7f7;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #f7f7f7;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #f7f7f7;
}

:-ms-input-placeholder {
  color: #f7f7f7;
}

/* BUTTONS */

.button {
  color: inherit;
  background: none;
}

.button-light {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button-light:hover,
.button-light:active {
  color: #8fdb00;
  background: #ffffff;
}

.button-dark {
  color: #ffffff;
  background: #8fdb00;
}

.button-dark:hover,
.button-dark:active {
  color: #ffffff;
  background: #008177;
  background: #74b300;
}

/* PRELOAD */

#preload {
  background: #ececee;
}

.loader {
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #8fdb00;
}

/* magnific popup */
.mfp-bg {
  background: linear-gradient(90deg, #1d3a49 0.01%, #1b3745 89.97%, 0.5);
}
